.about {
    width: 100vh;
    height: 100vh;
    position: relative;

    .bg-img {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1235px;
            
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
    }
}