.navbar a:link, .navbar a:visited, .navbar a:hover, .navbar a:active {
    text-decoration: none;
}

.navbar a {
    color: white;
}

.navbar .css-11b3ww9-MuiPaper-root-MuiAppBar-root {
    background-color: #303030;
}

.navbar .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-disabled {
    color: rgba(122, 122, 122, 0.911);
}