.speeddialmedia {
    position: absolute;
    bottom: 0;
    right: 0;

    .css-118zhtq-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab {
        background-color: #291e33;
    }

    .css-118zhtq-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab:hover {
        background-color: #392a47;
    }
}